* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  padding: 20px 300px;
  display: grid;
  grid-template:
    "left-menu main-menu right-menu" 1fr /
    300px 1fr 300px;
}

.left-menu {
  grid-area: left-menu;
}

.left-menu-list {
  display: grid;
  gap: 30px;
}
.left-menu-list li {
  display: grid;
  grid-template-columns: auto 1fr;
}